<p class="botao-sumario">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sumario-colapse"
        aria-expanded="false" aria-controls="sumario-colapse">
        <img src="/public/img/botao-sumario.png" width="25px" height="25px"> Sumário
    </button>
</p>
<div class="sumario">
    <div class="collapse collapse-horizontal" id="sumario-colapse">
        <div class="card card-body" id="card-sumario">
            <div class="scroll-sumario">
                <a href="#1" class="list-group-item list-group-item-action link-sum">Origem dos Agrotóxicos</a>
                <a href="#1.1" class="list-group-item list-group-item-action link-sum">Surgimento dos Agrotóxicos</a>
                <a href="#1.2" class="list-group-item list-group-item-action link-sum">Revolução Verde</a>
                <a href="#1.3" class="list-group-item list-group-item-action link-sum">Agrotóxocos no Brasil</a>
                <a href="#2" class="list-group-item list-group-item-action link-sum">Tipos de Agrotóxicos</a>
                <a href="#2.1" class="list-group-item list-group-item-action link-sum">Os Organofosforados e Carbamatos</a>
                <a href="#2.2" class="list-group-item list-group-item-action link-sum">As Piretrinas</a>
                <a href="#2.3" class="list-group-item list-group-item-action link-sum">Paraquat</a>
                <a href="#3" class="list-group-item list-group-item-action link-sum">Exemplos mais utilizados de
                    Agrotóxicos</a>
                <a href="#3.1" class="list-group-item list-group-item-action link-sum">Ciproconazol</a>
                <a href="#3.2" class="list-group-item list-group-item-action link-sum">Atrazina</a>
                <a href="#3.3" class="list-group-item list-group-item-action link-sum">Imidacloprido</a>
                <a href="#3.4" class="list-group-item list-group-item-action link-sum">Propargite</a>
                <a href="#3.5" class="list-group-item list-group-item-action link-sum">Cumarina</a>
                <a href="#4" class="list-group-item list-group-item-action link-sum">Impactos dos Agrotóxicos no Meio
                Ambiente</a>
                <a href="#4.1" class="list-group-item list-group-item-action link-sum">Impactos nas Águas</a>
                <a href="#4.2" class="list-group-item list-group-item-action link-sum">Impactos no Solo</a>
                <a href="#4.3" class="list-group-item list-group-item-action link-sum">Contaminação pelo ar</a>
                <a href="#4.4" class="list-group-item list-group-item-action link-sum">Impactos em Organismos Não Alvo</a>
                <a href="#5" class="list-group-item list-group-item-action link-sum">Vantagens e Desvantagens do Uso de
                Agrotóxicos</a>
            </div>
        </div>
    </div>
</div>

<section>
    <article>
        <div class="mx-5 fs-4 agrotoxicos p-3" id="secao-conteudo">
            <h4 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="1">Origem dos Agrotóxicos</h4>
            <img class="rounded mx-auto d-block img-fluid img-text-agro" width="70%" src="public/img/plantacao.jpg">
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="1.1">Surgimento dos Agrotóxicos</h5>
            <p class="text-justify text">
                Os agrotóxicos são compostos químicos que foram criados durante a Segunda Guerra Mundial para serem
                usados
                como armas químicas, porém, após o final da guerra foram usados como defensivos agrícolas. o
                primeiro
                agrotóxico que era composto orgânico DDT foi desenvolvido no ano de 1874 por Othomar Zeidler. Contudo
                foi
                somente em 1939 que Paul Muller percebeu que o composto poderia ser utilizado como um tipo de
                inseticida.
                <br>
                <br>
                No ano de 1948 Paul Muller recebeu o Nobel de Química por ter descoberto e aplicado o DDT para
                combater
                insetos. O composto DDT era utilizado em larga escala para combater o inseto responsável por
                espalhar a
                malária.
                Porém, depois de algum tempo descobriu-se que assim como todos os outros compostos organoclorados, o
                DDT, é
                teratogênico, cancerígeno e se acumula no organismo.
            </p>
            <img class="rounded mx-auto d-block img-fluid" src="public/img/cara-branco.jpeg">
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="1.2">Revolução Verde: </h5>
            <p class="text-justify text">
                Por volta do ano de 1950 surgiu um movimento chamado “Revolução Verde”, que foi o movimento
                responsável
                por
                transformar os agrotóxicos de armas químicas para químicos utilizados no campo. Inicialmente
                considerados
                uma grande descoberta, os agrotóxicos, se aplicados em excesso podem ser muito prejudiciais à saúde,
                podendo
                causar intoxicação.
                <br>
                <br>
                No de 1962, a cientista americana Rachel Carson (1907-1964) publicou o livro Primavera Silenciosa,
                considerado um marco histórico no movimento ambientalista mundial, que mostrou pela primeira vez um
                alerta
                relacionado aos danos causados pelo uso de agrotóxicos, especialmente o diclorodifeniltricloroetano
                –
                DDT. O
                título da obra está relacionado ao impacto dos produtos para as cadeias alimentares, já que as aves
                que
                se
                reproduzem na primavera podem deixar de existir ao se alimentarem de insetos contaminados por
                agrotóxicos.
            </p>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="1.3">Agrotóxicos no Brasil: </h5>
            <p class="text-justify text">
                O surgimento dos agrotóxicos no Brasil se deu a partir da Revolução Verde, que fez com que fossem
                chegar
                ao
                Brasil a partir das décadas de 60 e 70. A revolução verde foi um processo de mudança da política
                agrícola no
                país implementado a partir da segunda guerra mundial. Com um falso discurso de modernização do
                campo,
                esse
                processo incentivou a prática de monocultivos, o uso de sementes geneticamente modificadas, a forte
                mecanização do campo e o uso dos pacotes agroquímicos. Atualmente, o Brasil possui mais de 400 tipos
                de
                agrotóxicos registrados.
                <br><br>
                Quase toda a tecnologia que surgiu na revolução verde, desde as máquinas aos agrotóxicos, foi
                proveniente de
                adaptações de pesquisas e equipamentos utilizados na guerra. A produção e a comercialização dos agro
                venenos
                no Brasil e no mundo se concentra na mão de seis grandes empresas transnacionais, que controlam mais
                de
                80%
                do mercado de venenos. São elas: Monsanto, Syngenta, Bayer, Dupont, Dow e Basf.

                Além de controlar a fabricação dos agrotóxicos, essas empresas também controlam a produção e
                comercialização
                de sementes, gerando um ciclo vicioso de consumo. Desse modo, o agricultor que passa a utilizar
                sementes
                transgênicas e venenos será sempre dependente dessas empresas.

            </p>
            <div class="fs-4 agrotoxicos p-3">
                <h4 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="2">Tipos de Agrotóxicos:</h4>
                <p class="text lh-lg text-xl-start">
                    Existem diversos tipos de agrotóxicos, com finalidades distintas. Alguns deles são:
                </p>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens">fungicidas (atingem fungos);</li>
                    <li class="margens">herbicidas (atingem plantas);</li>
                    <li class="margens">inseticidas (atingem insetos);</li>
                    <li class="margens">acaricidas (atingem ácaros);</li>
                    <li class="margens">rodenticidas (atingem roedores).</li>
                </ul>
                <p class="text-justify text">
                    Além desses, já foram desenvolvidos defensores químicos para
                    controle de
                    larvas,
                    formigas,
                    bactérias e
                    moluscos, entre outros. Eles também se diferenciam pelas formas como agem no combate às pragas,
                    podendo
                    ser
                    por meio de contato ou ingestão.
                    <br><br>
                    A Anvisa os classifica de acordo com o nível de risco que oferecem e de danos que causam à saúde
                    humana:
                    pouco tóxicos, medianamente tóxicos, altamente tóxicos e extremamente tóxicos.
                    <br><br>
                    Agrotóxicos podem ser divididos em dois grupos: inseticidas e herbicidas. No primeiro grupo estão
                    três subgrupos grandes: os organoclorados, os organofosforados e carbamatos e as piretrinas. Dentre os grupos que
                    mais se destacam no grupo dos herbicidas estão clorofenóis, Paraquat e dinitrofenóis.
                </p>
                <img src="/public/img/categoria.jpeg" class="rounded mx-auto d-block img-fluid">
                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="2.1">Os Organofosforados e Carbamatos
                </h5>
                <p class="text-justify text">
                    Os inseticidas organofosforados e carbamatos são os mais utilizados hoje em dia, a absorção deles
                    também
                    se
                    dá por meio das vias oral, dérmica e respiratória. Dentre os seus efeitos estão a alteração do
                    funcionamento
                    de glândulas e dos músculos do cérebro.

                </p>
                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="2.2">As Piretrinas</h5>
                <p class="text-justify text">
                    Os inseticidas conhecidos como piretrinas podem ser naturais ou artificiais, pelo fato de serem
                    instáveis a
                    luz não são muito utilizados na agricultura. Esse tipo de inseticida acaba sendo usado mais no
                    ambiente
                    doméstico em forma de spray, tabletes ou espirais que acabam sendo dissolvidos no aquecimento. Um
                    dos
                    principais problemas apresentados por essas substâncias é o fato de causarem alergias podendo
                    começar
                    crises
                    de asma ou bronquite em crianças principalmente.
                </p>
                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="2.3">Paraquat</h5>
                <p class="text-justify text">
                    Um herbicida que oferece um grande risco, é capaz de matar todos os tipos de plantas. Essa
                    substância é
                    responsável por causar lesões no rim e pode se concentrar nos pulmões causando uma fibrose
                    irreversível.
                </p>
                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo">Clorofenóis</h5>
                <p class="text-justify text">
                    Os dois principais clorofenóis são os 2.4-D e o 2.4.5-T e o seu principal perigo reside no fato de
                    serem
                    cancerígenos. O agente laranja, que ficou famoso pelo seu uso na Guerra do Vietnã, é resultado da
                    mistura
                    desses dois clorofenóis.
                </p>
            </div>

            <div class="fs-4 agrotoxicos p-3">
                <h4 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="3">Exemplos mais utilizados de
                    Agrotóxicos:</h4>
                <p class="text-justify text">
                    Aqui trazemos alguns exemplos de agrotóxicos bastante utilizados atualmente, com análise de suas
                    funções e classificações.
                </p>

                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="3.1">Ciproconazol</h5>
                <div id="img-quimica-original-0">

                    <img src="/public/img/ciproconazol-original.jpeg" width="300px"
                        class="rounded mx-auto d-block img-fluid" id="img">
                    <button onclick="mudarFuncao(0)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                </div>
                <div id="img-quimica-nova-0">

                    <img src="/public/img/ciproconazol.jpeg" width="300px" class="rounded mx-auto d-block img-fluid"
                        id="img">
                    <button onclick="mudarFuncao(0)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                    <div class="collapse collapse-vertical" id="funcoes-0">
                        <div class="mx-3" id="funcoes-0-colapse">

                            <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Funções do Ciproconazol
                            </h6>
                            <ul class="text lh-lg text-xl-start mb-10">
                                <li class="margens">Fórmula: C15H18ClN3O</li>
                                <li class="margens">Classificação: Azol</li>
                                <li class="margens">Funções: 1 Álcool, 1 Haleto Orgânico, 2 Iminas e 1 Amina</li>
                            </ul>

                        </div>
                    </div>

                    <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Sobre Ciproconazol</h6>

                </div>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens">Tipo de agrotóxico: fungicida</li>
                    <li class="margens">Forma de aplicação: Utilizando pulverizadores tratorizados de barra
                        ou aeronaves agrícolas.</li>
                    <li class="margens">Classificação toxicológica: Categoria 5 (produto improvável de
                        causar dano agudo).</li>
                    <li class="margens">Classificação do potencial de periculosidade ambiental: II - Muito
                        perigoso ao meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="3.2">Atrazina</h5>
                <div id="img-quimica-original-1">

                    <img src="/public/img/atrazina-original.png" width="300px"
                        class="rounded mx-auto d-block img-fluid bg-light">
                    <button onclick="mudarFuncao(1)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                </div>
                <div id="img-quimica-nova-1">

                    <img src="/public/img/atrazina.jpeg" width="300px"
                        class="rounded mx-auto d-block img-fluid bg-light">
                    <button onclick="mudarFuncao(1)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                    <div class="collapse collapse-vertical" id="funcoes-0">
                        <div class="mx-3" id="funcoes-0-colapse">

                            <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Funções da Atrazina
                            </h6>
                            <ul class="text lh-lg text-xl-start mb-10">
                                <li class="margens">Fórmula: C8H14ClN5</li>
                                <li class="margens">IUPAC: 1-Chloro-3-ethylamino-5-isopropylamino-2,4,6-triazine</li>
                                <li class="margens">Massa Molar: 215.68 g mol-1</li>
                                <li class="margens">Funções: 1 Haleto Orgânico, 1 Imina e 2 Aminas</li>
                            </ul>

                        </div>
                    </div>

                    <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Sobre Atrazina</h6>
                </div>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens">Tipo de agrotóxico: herbicida</li>
                    <li class="margens">Forma de aplicação: Pulverizadores costais manuais ou pressurizados,
                        pulverizadores tratorizados com barra ou aeronaves agrícolas.</li>
                    <li class="margens">Classificação toxicológica: Categoria 3 (medianamente tóxico).</li>
                    <li class="margens">Classificação do potencial de periculosidade ambiental: II - muito
                        perigoso para o meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="3.3">Imidacloprido</h5>
                <div id="img-quimica-original-2">

                    <img src="/public/img/imidacloprido-original.jpg" class="rounded mx-auto d-block img-fluid">
                    <button onclick="mudarFuncao(2)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                </div>
                <div id="img-quimica-nova-2">

                    <img src="/public/img/imidacloprido.jpeg" class="rounded mx-auto d-block img-fluid" width="300px">
                    <button onclick="mudarFuncao(2)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                    <div class="collapse collapse-vertical" id="funcoes-0">
                        <div class="mx-3" id="funcoes-0-colapse">

                            <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Funções do Imidacloprido
                            </h6>
                            <ul class="text lh-lg text-xl-start mb-10">
                                <li class="margens">Fórmula: C9H10ClN5O2</li>
                                <li class="margens">Massa Molar: 255,661 g/mol</li>
                                <li class="margens">Funções: 1 Nitrocomposto, 1 Haleto Orgãnico, 1 Imina e 2 Aminas</li>
                            </ul>

                        </div>
                    </div>

                    <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Sobre Imidacloprido</h6>
                </div>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens">Tipo de agrotóxico: inseticida</li>
                    <li class="margens">Forma de aplicação: Pulverizadores costais manuais ou pressurizados
                        ou pulverizadores tratorizados com barra</li>
                    <li class="margens">Classificação toxicológica: Categoria 5 (produto improvável de
                        causar dano agudo).</li>
                    <li class="margens">Classificação do potencial de periculosidade ambiental: III -
                        perigoso para o meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="3.4">Propargite</h5>
                <div id="img-quimica-original-3">

                    <img src="/public/img/propargite-original.png" width="300px"
                        class="rounded mx-auto d-block img-fluid bg-light">
                    <button onclick="mudarFuncao(3)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                </div>
                <div id="img-quimica-nova-3">

                    <img src="/public/img/propargite.jpeg" width="300px" class="rounded mx-auto d-block img-fluid">
                    <button onclick="mudarFuncao(3)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                    <div class="collapse collapse-vertical" id="funcoes-0">
                        <div class="mx-3" id="funcoes-0-colapse">

                            <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Funções do Propargite
                            </h6>
                            <ul class="text lh-lg text-xl-start mb-10">
                                <li class="margens">Fórmula: C19H26O4S</li>
                                <li class="margens">Densidade: 1,1 g/cm³</li>
                                <li class="margens">Funções: 1 Éter e 1 Composto Sulfurado</li>
                            </ul>

                        </div>
                    </div>

                    <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Sobre Propargite</h6>
                </div>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens">Tipo de agrotóxico: acaricida</li>
                    <li class="margens">Forma de aplicação: Equipamento de pulverização terrestre, manual ou
                        tratorizado e áerea.</li>
                    <li class="margens">Classificação toxicológica: Categoria 3 (produto moderadamente
                        tóxico).</li>
                    <li class="margens">Classificação do potencial de periculosidade ambiental: II - Muito
                        perigoso ao meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="3.5">Cumarina</h5>
                <div id="img-quimica-original-4">

                    <img src="/public/img/cumarina-original.png" class="rounded mx-auto d-block img-fluid bg-light">
                    <button onclick="mudarFuncao(4)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                </div>
                <div id="img-quimica-nova-4">

                    <img src="/public/img/cumarina.jpeg" width="300px" class="rounded mx-auto d-block img-fluid">
                    <button onclick="mudarFuncao(4)" data-bs-toggle="collapse" data-bs-target="#funcoes-0"
                        aria-expanded="true" aria-controls="funcoes-0-colapse" type="button"
                        class="btn btn-primary btn-agro">Detalhes</button>

                    <div class="collapse collapse-vertical" id="funcoes-0">
                        <div class="mx-3" id="funcoes-0-colapse">

                            <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Funções do Cumarina
                            </h6>
                            <ul class="text lh-lg text-xl-start mb-10">
                                <li class="margens">Fórmula: C9H6O2</li>
                                <li class="margens">Densidade: 935 kg/m³</li>
                                <li class="margens">Massa Molar: 146,1427 g/mol</li>
                                <li class="margens">Funções: 1 Éster</li>
                            </ul>

                        </div>
                    </div>

                    <h6 class="text-center font-size-titulo mt-lg-5 texto-titulo">Sobre Cumarina</h6>
                </div>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens">Tipo de agrotóxico: rodencidas</li>
                    <li class="margens">Forma de aplicação: Aplicação de iscas em locais de acesso e seguros
                        para ratos.</li>
                    <li class="margens">Classificação toxicológica: Categoria 3 (produto moderadamente
                        tóxico).</li>
                </ul>
            </div>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="4">Impactos dos Agrotóxicos no Meio
                Ambiente: </h5>
            <p class="text-justify text">
                Os agrotóxicos foram desenvolvidos para serem utilizados no controle de pragas nas lavouras e
                plantações, porém, os mesmos podem ser extremamente prejudiciais tanto à saúde das pessoas que consomem
                produtos com agrotóxicos quanto ao meio ambiente. Alguns desses impactos são:

            </p>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="4.1">1. Impactos nas Águas: </h5>
            <p class="text-justify text">
                A utilização de agrotóxicos hidrossolúveis nas plantações tem o perigo de escorrer para rios e lagos,
                contaminando as águas e todos os seres que vivem e dependem dela, podendo causar a intoxicação de
                peixes, animais e pessoas que utilizam a mesma da região.

            </p>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="4.2">2. Impactos no Solo: </h5>
            <p class="text-justify text">
                Os herbicidas são os pesticidas que permanecem mais no solo após a utilização, afetando as populações de
                microrganismos benéficos presentes, que, após ficarem sem nutrientes acabam se deteriorando e morrendo
                aos poucos, diminuindo a qualidade das sementes e aumentando a probabilidade de surgimento de doenças em
                plantas plantadas naquele solo.

            </p>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="4.3">3. Contaminação pelo Ar: </h5>
            <p class="text-justify text">
                Por conta de grande parte dos agrotóxicos serem utilizados por via aérea (spray), acabam se espalhando
                com o vento, e chegando até locais onde não era para ser aplicado o pesticida, como lavouras e fazendas
                vizinhas.

            </p>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="4.4">4. Impactos em Organismos Não Alvo:
            </h5>
            <p class="text-justify text">
                Tendo em vista que a utilização de agrotóxicos pode afetar vários tipos de meios, isso acaba afetando
                também os animais que prevalecem em regiões próximas ou que acabam entrando em contato com essas
                regiões. Entrando em contato com esses organismos, desde plantas e microorganismos até nós seres
                humanos, os agrotóxicos acabam afetando gravemente a cadeia alimentar, que pode entrar em colapso por
                conta dos seres mais afetados acabam desaparecendo e deixando a cadeia instável e propícia a destruição
                da vida naquela região.

            </p>
            <h5 class="text-center font-size-titulo mt-lg-5 texto-titulo" id="5">Vantagens e Desvantagens do Uso de
                Agrotóxicos: </h5>
            <div class="table-responsive text ">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <th scope="col">Vantagens</th>
                        <th scope="col">Desvantagens</th>
                    </thead>
                    <tbody>
                        <tr class="table-active text">
                            <th scope="row">O uso de agrotóxicos em doses recomendadas garante o controle de possíveis
                                pragas e doenças que podem afetar as produções agrícolas.</th>
                            <td>A utilização de agrotóxicos é questionada por diversos órgãos da saúde, visto que está
                                associada a problemas de saúde, como alterações cromossômicas, câncer de diversos tipos,
                                doenças respiratórias, entre outras.</td>
                        </tr>
                        <tr class="table-active text">
                            <th scope="row">O controle das doenças e pragas propicia o aumento da produtividade das
                                lavouras
                                e melhora
                                a qualidade visual dos produtos cultivados.</th>
                            <td>Utilizar o agrotóxico de maneira incorreta provoca danos ambientais, como contaminação
                                do
                                solo e dos recursos hídricos.</td>
                        </tr>
                        <tr class="table-active text">
                            <th scope="row">Normalmente os preços dos produtos cultivados com o uso dos agrotóxicos são
                                reduzidos em
                                relação ao preço dos produtos orgânicos.</th>
                            <td>Doses acima do permitido podem contaminar alimentos e trazer riscos à saúde.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>