<div class="mx-5 fs-4 agrotoxicos p-3" id="secao-conteudo">
    <h1 class="text-center font-size-titulo texto-titulo"> Agrotóxicos </h1>
    <h3 class="text-center font-size-titulo texto-titulo"> Projeto de Desenvolvimento Web 2 com Química 4</h3>
    <p class="text text-justify">
        Este site está sendo criado para o trabalho das diciplinas de Desenvolvimento Web 2 e Química 4, e
        está
        sendo feito pelos alunos Felipe Rodrigues Ferraz, Gabriel Taveira Granja e Wilker Sebastian Afonso
        Pereira, alunos da turma 229A do Curso Integrado de Informática do IFMS Campus Campo Grande, no
        qual
        falaremos do tema Agrotóxicos.
    </p>
    <img src="/public/img/consumoagrotoxicobrasil.png" class="rounded mx-auto d-block img-fluid">
    <h4 class="text-center font-size-titulo texto-titulo"> Mas o que são Agrotóxicos? </h4>
    <p class="text text-justify">
        Agrotóxicos são substâncias químicas ou biológicas utilizadas no controle de pragas na agricultura e
        também para proteger as plantações.

        O intuito é evitar que micro-organismos e insetos ataquem as plantações e consumam toda a colheita.
        Por
        isso, os agrotóxicos são aplicados na agricultura com maior força e estão presentes na maioria dos
        alimentos.
    </p>
    <img src="/public/img/explicacao.jpg" class="rounded mx-auto d-block img-fluid img-text-agro">
    <h4 class="text-center font-size-titulo texto-titulo"> Como são usados? </h4>
    <p class="text text-justify">
        Para combater as pragas ou evitá-las, os agricultores espalham esses produtos em sua plantação.
        Essa
        substância pode ser aplicada de diversas formas, como misturada a água ou em pó.

        Basicamente existem dois tipos de agrotóxicos: os químicos e os biológicos. O primeiro refere-se
        às
        substâncias criadas em laboratório e que possuem como base substâncias químicas, como os metais.
        Já o
        segundo grupo são substâncias naturais, orgânicas e que ajudam no extermínio das pragas.

        O agrotóxico ainda pode ser classificado em duas categorias: os inseticidas e os herbicidas.
        Inseticidas, como o próprio nome sugere, eliminam pragas de insetos e demais micro-organismos
        que afetam
        as plantações e até mesmo as residências em grandes cidades. Já os herbicidas extinguem as ervas
        daninhas e plantas oportunistas na agricultura.
    </p>
</div>