<section class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 text-dark">
        <div class="col p-5">
            <div class="card">
                <img src="public/img/Felipe Ferraz.jpeg" class="card-img-top border-bottom">
                <div class="card-body">
                    <h5 class="card-title">Felipe Rodrigues Ferraz</h5>
                    <p class="card-text">Responsável pelo desenvolvimento do Front-End, como estilização e espaçamento das páginas, além de uma parta na pesquisa.</p>
                </div>
            </div>
        </div>
        <div class="col p-5">
            <div class="card">
                <img src="public/img/Wilker Sebastian.jpeg" class="card-img-top border-bottom">
                <div class="card-body">
                    <h5 class="card-title">Wilker Sebastian Afonso Pereira</h5>
                    <p class="card-text">Reponsavel pelo desenovivmento de features como súmario e comentario além de ser o princiapl Back-End Dev</p>
                </div>
            </div>
        </div>
        <div class="col p-5">
            <div class="card">
                <img src="public/img/Gabriel Genja.jpeg" class="card-img-top border-bottom">
                <div class="card-body">
                    <h5 class="card-title">Gabriel Taveira Granja</h5>
                    <p class="card-text">Responsável pela procura, coleta e interpetação da pesquisa.</p>
                </div>
            </div>
        </div>
        <div class="col p-5">
            <div class="card">
                <img src="public/img/delmir.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Delmir da Costa Felipe</h5>
                    <p class="card-text">Professor de Química 4 IFMS e orientador da parte da pesquisa do trabalho.</p>
                </div>
            </div>
        </div>
        <div class="col p-5">
            <div class="card">
                <img src="public/img/fabio.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Fabio Luiz Faria da Silva</h5>
                    <p class="card-text">Professor de Desenvlvimento Web 2 IFMS e orientador do desenvolvimento do site.</p>
                </div>
            </div>
        </div>
    </div>
</section>